{% extends "base.html" %} {% block content %} {% if message %}
<h1>{{message}}</h1>
{% endif %}

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <div class="userauthcontainer">
    <div class="userauthcontainer__slot">
      <input
        type="text"
        id="id_username"
        name="username"
        placeholder="Username"
      />
    </div>

    <div class="userauthcontainer__slot">
      <input
        type="password"
        id="id_password"
        name="password"
        placeholder="Password"
      />
    </div>

    <button class="userauthcontainer__btn" type="submit">Login</button>
  </div>
</form>

{% endblock %}
