{% extends 'base.html' %} {% block content %}

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <div class="formcontainer">
    <div class="formcontainer__slot">
      <label for="{{ form.username.id_for_label }}"
        >{{ form.username.label }}</label
      >
      {{ form.username }}
    </div>

    <div class="formcontainer__slot">
      <label for="{{ form.password1.id_for_label }}"
        >{{ form.password1.label }}</label
      >
      {{ form.password1 }}
    </div>

    <div class="formcontainer__slot">
      <label for="{{ form.password2.id_for_label }}"
        >{{ form.password2.label }}</label
      >
      {{ form.password2 }}
    </div>

    <button class="formcontainer__btn" type="submit" value="register">
      Register
    </button>
  </div>
</form>
{% endblock %}
