.footer {
    background-color: #323232;
    width: 100%;
    margin-top: auto;

    &__container {
        display: flex;
        flex-direction: column;
        border: black 1px solid;
        height: 100%;

        &--image {
            height: 30px;
            width: 100px;
            margin-top: 1rem;
            margin-left: 3rem;
        }
    }
    &__infocontainer {
        display: flex;
        flex-direction: row;
        margin: 1rem 3rem 0 3rem;
        justify-content: space-between;

        &--card {
            display: flex;
            flex-direction: column;
        }
    }
}

.temp {
    color: white;
    text-decoration: none;
    list-style: none;
    margin-bottom: 1rem;
}