{% extends 'base.html' %} {% block content %}

<nav class="navbar bg-body-tertiary">
  <div class="navbar-container">
    <h1>Here are the Pages</h1>

    <form class="d-flex" method="post" action="{% url 'pages.search' %}">
      {% csrf_token %}
      <input
        class="form-control me-2"
        type="search"
        name="searched"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="containerwrap">
  {% for page in pages %}
  <a
    href="{% url 'pages.detail' slug=page.slug %}"
    class="text-dark text-decoration-none"
  >
    <div class="containerwrap__margin">
      {% if page.image %}
      <div
        class="containerwrap__card"
        style="background-image: url('{{ page.image.url }}'); background-size: cover; background-position: center;"
      ></div>
      {% else %}
      <div
        class="containerwrap__card"
        style="
          background-image: url('../../../media/page_images/empty.jpg');
          background-size: cover;
          background-position: center;
        "
      ></div>
      {% endif %}
      <h3 class="containerwrap__title">{{ page.title }}</h3>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
