body {
    color:white;
}

.containerwrap {
    display: flex;
    flex-wrap: wrap;

    &__margin {
        margin-right: 3rem;
        
        &--box {
            border: 1px solid black;
            width: 30rem;
            box-sizing: border-box; 
        }
    }
}